<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annas page</title>
</head>
<body>
    <h1>Javascript courses</h1>
    <p> This is the page I am building to demonstrate my JS knowledge. <br>
    If you have any questions please let me know.</p>
    <div>

    <img src="download.png" alt="Javascript photo" width="300">
    </div>

    <h5> Here is my to do list:</h5>
<div>
    <a href="form.file.html" target="_blank" rel="noopener"> here we go to forms</a>
    </div>
<ol>
    <li> Learn HTML</li>
    <li> Buy milk</li>
    <li> <del>Be awesome</del></li>
</ol>
</body>
</html>